
# Added files from current project
.idea
/venv
**/__pycache__/**
**/migrations/**
**/db.sqlite3
*.pyc
.idea/
.DS_Store
.dbeaver
#/gerbil/gerbil_animal/migrations
#/gerbil/gerbil_house/migrations
#/gerbil/gerbil_cage/migrations
