{% extends 'gerbil_animal/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'gerbil_animal/gerbilpage.css' %}">
<link rel="stylesheet" href="{% static 'gerbil_animal/base.css' %}">
<title>Gerbil Page</title>


<div class="gerbil_page_text">
    <h1><b>🄷🄴🅁🄴 🅈🄾🅄 🄲🄰🄽 🄵🄸🄽🄳 🄰 🄻🄸🅂🅃 🄾🄵 🅈🄾🅄🅁 🄶🄴🅁🄱🄸🄻🅂</b> </h1>
</div>
{% endblock %}

<!--        {% if gerbil_list %}-->
<!--        <ul>-->
<!--            {% for gerbil in gerbil_list%}-->
<!--            <li>{{gerbil.name}}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--        {% else %}-->
<!--        <p> No available </p>-->
<!--        {% endif %}-->





