{% extends 'gerbil_animal/base.html' %}
{% load static %}
{% block content %}

<html>
    <link rel="stylesheet" href="{% static 'gerbil_house/style.css' %}">
    <link rel="stylesheet" href="{% static 'gerbil_animal/base.css' %}">
    <title> Gerbil House </title>

    <div class="header">
        <h1>🄶🄴🅁🄱🄸🄻 🄷🄾🅄🅂🄴🅂</h1>
    </div>
    <div class="house_block">
        <div class="house_box">
                <h3> House  </h3>
                <div> Capacity </div>
                <div> Material </div>
                <div> Color </div>
                <div> ID </div>
        </div>
        {% for house in house_list %}
        <div class="house_box">
            <div> Capacity: {{ house.house_capacity }} </div>
            <div> Material: {{ house.house_material }} </div>
            <div> Color: {{ house.house_color }} </div>
            <div> ID: {{ house.house_id }} </div>
        </div>

        {% endfor %}
    </div>
    {% endblock %}
</html>


