body {
}

.gerbil_specific_block {
      background: #F7C8E0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
      width 90%;

}

.gerbil_head_info {
      border-radius: 15px;
      border: 2px solid #777;
      padding: 3% 3%;
      background: #B4E4FF
}