{% extends 'gerbil_animal/base.html' %}
{% load static %}
{% block content %}

<html>
    <link rel="stylesheet" href="{% static 'gerbil_cage/style.css' %}">
    <link rel="stylesheet" href="{% static 'gerbil_animal/base.css' %}">
    <title>
        {% for cage in gerbil_cage %}
        {{ cage.id }}
        {% endfor %}
    </title>

    <div class="header">
        <h1>🄶🄴🅁🄱🄸🄻 🄲🄰🄶🄴🅂</h1>
    </div>
    <div class="cage_block">
        <div class="cage_box">
            <h3>Cage 1</h3>
            <div>Capacity</div>
            <div>Material</div>
            <div>Color</div>
            <div>Gerbil_id</div>
            <div>House_id</div>

        </div>
        <div class="cage_box">
            <h3>Cage 1</h3>
            <div>Capacity</div>
            <div>Material</div>
            <div>Color</div>
            <div>Gerbil_id</div>
            <div>House_id</div>
        </div>

        <div class="cage_box">
            <h3>Cage 1</h3>
            <div>Capacity</div>
            <div>Material</div>
            <div>Color</div>
            <div>Gerbil_id</div>
            <div>House_id</div>
        </div>

    </div>
    {% endblock %}
    </div>
</html>