{% extends 'gerbil_animal/base.html' %}
{% load static %}
{% block content %}

<html xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'gerbil_cage/style.css' %}">
    <link rel="stylesheet" href="{% static 'gerbil_animal/base.css' %}">

    <title> Cage Page </title>

    <div class="header">
        <h1>🄶🄴🅁🄱🄸🄻 🄲🄰🄶🄴🅂</h1>
    </div>
    <div class="form_cages_block">
        <div class="cage_form">
            <form action="success/" method="post">
                <fieldset>
                    {% csrf_token %}
                    {{ form }}
                    <div>
                        <label for="cage_capacity">Capacity</label>
                        <input id="cage_capacity" type="number" name="cage_capacity" required>
                    </div>
                    <div>
                        <label for="cage_material">Material</label>
                        <input id="cage_material" type="text" name="cage_material" required>
                    </div>
                    <div>
                        <label for="cage_color">Color</label>
                        <input id="cage_color" type="text" name="cage_capacity" required>
                    </div>
                    <div>
                        <label for="gerbil_house_id"> House ID:</label>
                        <input id="gerbil_house_id" type="number" name="gerbil_house_id" required>
                    </div>
                    <button type="submit" value="Add Cage"> Add Cage </button>
                </fieldset>
            </form>
        </div>
        <div class="available_cage_material">
            <p class="material_disclaimer"> <b> Indicate Cage Material with abbreviations! </b> </p>
            <ul>
                <li> steel => stl </li>
                <li> glass => glss </li>
                <li> plastic => plstc </li>
            </ul>
        </div>
    </div>
    <div class="cage_block">
        {% for cage in cage_objects %}
        <div class="cage_box">
            <h3>Cage {{ cage.cage_id}} </h3>
            <div> Capacity {{ cage.cage_capacity }} </div>
            <div> Material: {{ cage.cage_material }} </div>
            <div> Color: {{ cage.cage_color }} </div>
            <div> Gerbil ID(s): {{ cage.gerbil_house_id_id }} </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    </div>
</html>